* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --bg-color: #171427;
  --bird-color: yellow;
  --obstacle-color: #f8f8f8;
}

#game {
  background-color: var(--bg-color);
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

#obstacle {
  width: 50px;
  height: 500px;
  background-color: var(--obstacle-color);
  position: absolute;
  top: 0;
  left: 100%;
  animation: obstacle-anim 2.5s infinite linear;
  z-index: 1;
}

#hole {
  width: 50px;
  height: 150px;
  background-color: var(--bg-color);
  position: absolute;
  top: 150px;
  left: 100%;
  animation: obstacle-anim 2.5s infinite linear;
  z-index: 2;
}

@keyframes obstacle-anim {
  0% {
    left: 100%;
  }
  100% {
    left: -60px;
  }
}

#bird {
  width: 20px;
  height: 20px;
  background-color: var(--bird-color);
  position: absolute;
  top: 100px;
  border-radius: 50%;
  z-index: 3;
}

@media screen and (max-width:420px){
  
  .game{
    max-width:300px ;
   
  }
  .bird{
    margin-left: 5px;
  }
  }
  @media screen and (max-width:300px){
  
    .game{
      max-width:200px ;
     
    }
    .bird{
      margin-left: 5px;
    }
    }